body {
  background-image: url(../images/background-photo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #efefef;

  height: 1000px;
  width: 100%;
  margin: 0;
  padding: 0;
}